<div class="page-body">
  <div class="content-wrap">
<div class="container">


    <ng-container *ngIf="loadCompras">
        <div class="card card-custom card-shadowless rounded-top-0" style="margin-top: 30px;">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Custom size border spinner -->
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden"></span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="!loadCompras">
            <div class="cabecera-compra">
                <div class="card create-compras-card">
                    <div class="card-header bg-light border-bottom py-3">
                        <h2 class="mb-0 h5"><i class="fas fa-shopping-cart me-2"></i>Modificar compra</h2>
                        <p class="mb-0 small text-muted mt-1">Edite los datos del proveedor, comprobante y detalle de productos.</p>
                        <ng-container *ngIf="compras.idComprobante || compras.fEmision">
                            <p class="mb-0 small mt-2">
                                <span class="text-primary fw-medium">Comprobante:</span> {{ compras.compCompra || compras.serie || '-' }}
                                <span class="ms-3 text-primary fw-medium">Fecha emisión:</span> {{ compras.fEmision || '-' }}
                            </p>
                        </ng-container>
                    </div>
                    <div class="card-body">
                        <div class="cabecera">
                            <div class="row form-group">
                                <hr>
                                <div class="col-12"><h6 class="text-muted border-bottom pb-2 mb-3">Proveedor</h6></div>
                                <div class="col-12" style="margin-bottom: 20px;">
                                    <label for="ruc">Número de documento</label>
                                    <div class="input-group-append" style="display: flex;">
                                        <input type="text" class="form-control form-control-appended"
                                            placeholder="Ingrese RUC o DNI" name="ruc" [(ngModel)]="compras.ruc"
                                            style="width: 40%;">
                                    </div>
                                    <ng-container>
                                        <div *ngIf="compras.idProveedor">
                                            <label for="idProveedor" style="color: rgb(117, 117, 117); margin-top: 20px;">Proveedor:
                                                <strong>{{ compras.rSocial || proveedores?.rSocial || '-' }}</strong></label>
                                        </div>
                                    </ng-container>
                                </div>
                                <hr />
                                <ng-container *ngIf="compras.idProveedor">
                                    <div class="col-12"><h6 class="text-muted border-bottom pb-2 mb-3">Comprobante y fechas</h6></div>
                            <div class="col-sm-6 col-lg-3 col-md-6">
                                <div>
                                    <label style="width: 300px;">Comprobante</label>
                                    <div class="col-lg-9 col-xl-9">
                                        <select required name="idComprobante" [(ngModel)]="compras.idComprobante"
                                            class="form-control">
                                            <option value="" selected disabled>Seleccionar...</option>
                                            <option *ngFor="let item of comprobantes" [value]="item.idComprobante">{{
                                                item.nombre }}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <!-- <div>
                                    <label for="compCompra">CompCompra</label>
                                    <input type="text" class="form-control" name="compCompra"
                                        [(ngModel)]="compras.compCompra" placeholder="Ingrese el compCompra">
                                </div> -->

                                <div style="width: 80px;">
                                    <label for="serie">Serie</label>
                                    <input type="text" class="form-control" name="serie" [(ngModel)]="compras.serie"
                                        placeholder="F001">
                                </div>

                                <div style="width: 100px;">
                                    <label for="numero">Número</label>
                                    <input type="text" class="form-control" name="numero" [(ngModel)]="compras.numero"
                                        placeholder="00000001" (change)="onInputChangesCompCompras()">
                                </div>

                            </div>
                            <div class="col-sm-6 col-lg-3 col-md-6">
                                <div>
                                    <label for="fEmision">Fecha de Emisión (*)</label>
                                    <input type="date" class="form-control" name="fEmision"
                                        [(ngModel)]="compras.fEmision">
                                </div>

                                <div>
                                    <label for="fVencimiento">Fecha de Vencimiento (*)</label>
                                    <input type="date" class="form-control" name="fVencimiento"
                                        [(ngModel)]="compras.fVencimiento">
                                </div>




                            </div>
                            <div class="col-sm-6 col-lg-3 col-md-6">
                                <div>
                                    <div>
                                        <label style="width: 300px;">Moneda (*)</label>
                                        <div class="col-lg-9 col-xl-9">
                                            <select required name="idMoneda" [(ngModel)]="compras.idMoneda"
                                                class="form-control">
                                                <option value="" selected disabled>Seleccionar...</option>
                                                <option *ngFor="let item of moneda" [value]="item.idMoneda">{{
                                                    item.descripcion }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="form-group -row">
                                        <label style="width: 300px;">Estado de pago (*)</label>
                                        <div class="col-lg-9 col-xl-9">
                                            <select required name="idEstadoPago" [(ngModel)]="compras.idEstadoPago"
                                                class="form-control">
                                                <option value="" selected disabled>Seleccionar...</option>
                                                <option *ngFor="let item of estadoPago" [value]="item.idEstadoPago">{{
                                                    item.descripcion }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6 col-lg-3 col-md-6">
                                <div>

                                    <label style="width: 300px;">Medios de pago (*)</label>
                                    <div class="col-lg-9 col-xl-9">
                                        <select required name="idMediosPago" [(ngModel)]="compras.idMediosPago"
                                            class="form-control">
                                            <option value="" selected disabled>Seleccionar...</option>
                                            <option *ngFor="let item of mediosPago" [value]="item.idMediosPago">{{
                                                item.descripcion }}
                                            </option>
                                        </select>
                                    </div>

                                </div>


                                <div class="form-group">
                                    <label for="compRelacionado">CompRelacionado</label>
                                    <input type="text" class="form-control" name="compRelacionado"
                                        [(ngModel)]="compras.compRelacionado" placeholder="Ingrese el compRelacionado">
                                </div>
                            </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        <!-- <div class="nuevo-producto">
           
            <div class="card" style="border: #94847c 1px solid !important; border-radius: 5px;">
                <div class="card-body">

                    <div class="row form-group">

                        <label>
                            <input type="checkbox" [(ngModel)]="nuevoProducto.useCorrelativo" name="useCorrelativo"
                                (change)="onCheckboxChange()"> Usar correlativo
                        </label>

                        <div class="col-sm-6 col-log-3 col-md-6">
                           
                                <div  style="width: 50%;">
                                    <label for="Codigo">Código (*)</label>
                                    <input type="text" class="form-control" name="Codigo"
                                        [(ngModel)]="nuevoProducto.codigo">
                                </div>
                                <div>
                                    <label style="width: 300px;">Marca (*)</label>

                                    <div class="col-lg-9 col-xl-9" style="display: inline-flex;">
                                        <div style="width: 60%; margin-right: 10px ;">
                                            <select required name="idMarca" [(ngModel)]="nuevoProducto.idMarca"
                                                (ngModelChange)="onselectMarca($event)" (click)="cargarMarcas()"
                                                class="form-control">
                                                <option value="" selected disabled>Seleccionar...</option>
                                                <option *ngFor="let item of marcas" [value]="item.idMarca">{{
                                                    item.nombre }}
                                                </option>
                                            </select>
                                        </div>

                                        <button type="button" class="btn btn-primary"
                                            (click)="agregarNuevaMarca()">Nueva
                                        </button>

                                    </div>
                                </div>

                           



                            <div>
                                <label style="width: 300px;">Categoría (*)</label>

                                <div class="col-lg-9 col-xl-9" style="display: inline-flex;">
                                    <div style="width: 60%; margin-right: 10px ;">
                                        <select required name="idCategoria" [(ngModel)]="nuevoProducto.idCategoria"
                                            (ngModelChange)="onSelectCategoria($event)" (click)="cargarCategorias()"
                                            class="form-control">
                                            <option value="" selected disabled>Seleccionar...</option>
                                            <option *ngFor="let item of categoria" [value]="item.idCategoria">{{
                                                item.nombre }}
                                            </option>
                                        </select>
                                    </div>

                                    <button type="button" class="btn btn-primary"
                                        (click)="agregarNuevaCategoria()">Nueva</button>
                                </div>
                                <div>
                                    <label for="descripcion">Descripción (*)</label>
                                    <textarea type="text" class="form-control" name="descripcion"
                                        [(ngModel)]="nuevoProducto.descripcion" maxlength="200"></textarea>
                                </div>
                            </div>

                            
                        </div>
                        <div class="col-sm-6 col-log-3 col-md-6">
                            <div>
                                <label style="width: 300px;">Presentación (*)</label>
                                <div class="col-lg-9 col-xl-9">
                                    <select required name="idPresentacion" [(ngModel)]="nuevoProducto.idPresentacion"
                                        (ngModelChange)="onSelectPresentacion($event)" class="form-control">
                                        <option value="" selected disabled>Seleccionar...</option>
                                        <option *ngFor="let item of presentacion" [value]="item.idPresentacion">{{
                                            item.Descripcion }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <label for="pUnitario">Precio Unitario</label>
                                <input type="text" class="form-control" name="cUnitario"
                                    [(ngModel)]="nuevoProducto.cUnitario">
                            </div>
                            <div>
                                <label for="cantidad">Cantidad</label>
                                <input type="text" class="form-control" name="cantidad"
                                    [(ngModel)]="nuevoProducto.cantidad">
                            </div>
                        </div>
                        <div class="col-sm-6 col-log-3 col-md-6">
                            <div>
                                <label for="fProduccion">Fecha de Producción</label>
                                <input type="date" class="form-control" name="fProduccion"
                                    [(ngModel)]="nuevoProducto.fProduccion">
                            </div>
                            <div>
                                <label for="fVencimiento">Fecha de Vencimiento</label>
                                <input type="date" class="form-control" name="fVencimiento"
                                    [(ngModel)]="nuevoProducto.fVencimiento">
                            </div>
                        </div>
                        <div class="col-sm-6 col-log-3 col-md-6">
                            <div>
                                <label style="width: 300px;">Sucursal (*)</label>
                                <div class="col-lg-9 col-xl-9">
                                    <select required name="idSucursal" [(ngModel)]="nuevoProducto.idSucursal"
                                        (ngModelChange)="onSelectSucursal($event)" class="form-control">
                                        <option value="" selected disabled>Seleccionar...</option>
                                        <option *ngFor="let item of sucursales" [value]="item.idSucursal">{{
                                            item.nombre }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div style="margin-bottom: 20px;">
                                <label for="descripcion">Ubicación</label>
                                <input type="text" class="form-control" name="ubicacion"
                                    [(ngModel)]="nuevoProducto.ubicacion">
                            </div>

                            <button type="button" class="btn btn-primary"
                                (click)="agregarProductoNuevo()">Agregar</button>

                        </div>





                    </div>


                </div>

            </div>

        </div> -->

        <div class="tabla-detalle">
            <div class="card" style="border: #94847c 1px solid !important; border-radius: 5px;">
                <div class="card-header bg-success text-white d-flex flex-column flex-lg-row justify-content-between align-items-stretch align-items-lg-center gap-2 py-2 py-lg-3">
                    <h5 class="mb-0 flex-shrink-0"><i class="bi bi-cart-check"></i> Detalle de Compra</h5>
                    <div class="d-flex flex-column flex-sm-row flex-wrap gap-2 w-100 w-lg-auto justify-content-lg-end">
                        <button type="button" class="btn btn-sm btn-outline-light compra-detalle-header-btn flex-grow-1 flex-lg-grow-0" (click)="abrirBuscadorProductos()">
                            <i class="bi bi-search"></i> Buscar productos
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-light compra-detalle-header-btn flex-grow-1 flex-lg-grow-0" data-bs-toggle="modal" data-bs-target="#nuevoProductoModal">
                            Crear producto
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive update-compras-detalle-wrap" style="background: white; max-height: 400px;">
                        <table class="table table-striped table-hover align-middle update-compras-detalle-table">
                            <thead class="table table-light update-compras-detalle-thead" style="position: sticky; top: 0; z-index: 100;">
                                <tr>
                                    <th>Código</th>
                                    <th>Categ</th>
                                    <th>Producto</th>
                                    <th>Marca</th>
                                    <th>U.Med</th>
                                    <th>Cant.</th>
                                    <th>P.Unit</th>
                                    <th>SubTotal</th>
                                    <th>F.Prod</th>
                                    <th>F.Venc</th>
                                    <th>Sucursal</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let item of detalleCompras; let idx = index">
                                    <tr class="d-none d-lg-table-row">
                                        <td>{{ item?.codigo ?? item?.producto?.codigo ?? item?.producto?.Codigo }}</td>
                                        <td>{{ item?.categoria?.nombre || '-' }}</td>
                                        <td class="columna-descripcion">{{ item?.descripcion ?? item?.producto?.descripcion }}</td>
                                        <td>{{ textoMarcaDetalle(item) }}</td>
                                        <td style="width: 60px; text-align: center;">{{ item?.presentacion?.codigo || item?.presentacion?.Descripcion || '-' }}</td>
                                        <td style="width: 80px; text-align: right;">
                                            <input type="number" class="form-control form-control-sm d-inline-block" [(ngModel)]="item.cantidad" style="max-width: 7rem; text-align: center;" (change)="actualizarSubtotal(idx)">
                                        </td>
                                        <td style="width: 100px; text-align: right;">
                                            <input type="number" class="form-control form-control-sm d-inline-block" [(ngModel)]="item.pUnitario" style="max-width: 7rem; text-align: center;" (change)="actualizarSubtotal(idx)">
                                        </td>
                                        <td style="width: 80px; text-align: right;">{{ item?.subtotal ?? ((item?.cantidad ?? 0) * (item?.cUnitario ?? item?.pUnitario ?? 0)) | number:'1.2-2' }}</td>
                                        <td style="width: 60px; text-align: center;">{{ item?.fProduccion || item?.fproduccion || '-' }}</td>
                                        <td style="width: 60px; text-align: center;">{{ item?.fVencimiento || item?.fvencimiento || '-' }}</td>
                                        <td style="width: 60px; text-align: center;">{{ textoSucursalDetalle(item) }}</td>
                                        <td>
                                            <a style="cursor: pointer;" class="text-danger" (click)="quitar(idx, item?.subtotal)" title="Eliminar">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="d-lg-none compra-detalle-mobile-tr">
                                        <td colspan="12" class="p-0 border-0 bg-transparent">
                                            <div class="compra-detalle-mobile-card">
                                                <div class="compra-detalle-mobile-card__top">
                                                    <span class="compra-detalle-mobile-card__code">{{ item?.codigo ?? item?.producto?.codigo ?? item?.producto?.Codigo }}</span>
                                                    <span class="compra-detalle-mobile-card__price">S/ {{ (item?.cUnitario ?? item?.pUnitario ?? 0) | number:'1.2-2' }}</span>
                                                </div>
                                                <div class="compra-detalle-mobile-card__title">{{ item?.descripcion ?? item?.producto?.descripcion }}</div>
                                                <div class="compra-detalle-mobile-card__meta">
                                                    {{ item?.categoria?.nombre || '—' }}<ng-container *ngIf="textoMarcaDetalle(item) !== '—'"> · {{ textoMarcaDetalle(item) }}</ng-container> · {{ item?.presentacion?.codigo || item?.presentacion?.Descripcion || '—' }}
                                                </div>
                                                <div class="compra-detalle-mobile-card__inputs row g-2">
                                                    <div class="col-6">
                                                        <label class="form-label small text-muted mb-0">Cant.</label>
                                                        <input type="number" class="form-control form-control-sm" [(ngModel)]="item.cantidad" (change)="actualizarSubtotal(idx)">
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="form-label small text-muted mb-0">P. unit.</label>
                                                        <input type="number" class="form-control form-control-sm" [(ngModel)]="item.pUnitario" (change)="actualizarSubtotal(idx)">
                                                    </div>
                                                </div>
                                                <div class="compra-detalle-mobile-card__foot">
                                                    <div class="compra-detalle-mobile-card__sucursal-block min-w-0 me-2">
                                                        <span class="compra-detalle-mobile-card__label">Sucursal</span>
                                                        <span class="compra-detalle-mobile-card__sucursal-value text-truncate">{{ textoSucursalDetalle(item) }}</span>
                                                    </div>
                                                    <span class="text-nowrap fw-semibold align-self-end">Subt: S/ {{ item?.subtotal ?? ((item?.cantidad ?? 0) * (item?.cUnitario ?? item?.pUnitario ?? 0)) | number:'1.2-2' }}</span>
                                                </div>
                                                <div class="compra-detalle-mobile-card__dates small text-muted" *ngIf="item?.fProduccion || item?.fproduccion || item?.fVencimiento || item?.fvencimiento">
                                                    <span *ngIf="item?.fProduccion || item?.fproduccion">F. prod: {{ item?.fProduccion || item?.fproduccion }}</span>
                                                    <span *ngIf="(item?.fProduccion || item?.fproduccion) && (item?.fVencimiento || item?.fvencimiento)"> · </span>
                                                    <span *ngIf="item?.fVencimiento || item?.fvencimiento">F. venc: {{ item?.fVencimiento || item?.fvencimiento }}</span>
                                                </div>
                                                <div class="compra-detalle-mobile-card__actions">
                                                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="quitar(idx, item?.subtotal)" title="Eliminar">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>


        <div class="totales">
            <div class="card" style="border: #94847c 1px solid !important; border-radius: 5px;">
                <div class="card-body">
                    <div class="row form-group">
                        <div class="col-sm-6 col-lg-3 col-md-6">
                            <div>
                                <label for="subTotal">SubTotal</label>
                                <input type="number" class="form-control" name="subTotal" [(ngModel)]="compras.subTotal"
                                    placeholder="Ingrese el subTotal">
                            </div>
                            <div>
                                <label for="descuentos">Descuentos</label>
                                <input type="number" class="form-control" name="descuentos"
                                    [(ngModel)]="compras.descuentos" (change)="onInput()"
                                    placeholder="Ingrese los descuentos">
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 col-md-6">
                            <div>
                                <label for="igv">IGV</label>
                                <input type="number" class="form-control" name="igv" [(ngModel)]="compras.igv"
                                    (change)="onInput()" placeholder="Ingrese el IGV">
                            </div>

                            <div>
                                <label for="exonerado">Exonerado</label>
                                <input type="number" class="form-control" name="exonerado"
                                    [(ngModel)]="compras.exonerado" placeholder="Ingrese el exonerado">
                            </div>



                        </div>
                        <div class="col-sm-6 col-lg-3 col-md-6">
                            <div>
                                <label for="gratuito">Gratuito</label>
                                <input type="number" class="form-control" name="gratuito" [(ngModel)]="compras.gratuito"
                                    placeholder="Ingrese el gratuito">
                            </div>

                            <div>
                                <label for="otrosCargos">Otros Cargos</label>
                                <input type="number" class="form-control" name="otrosCargos"
                                    [(ngModel)]="compras.otrosCargos" (change)="onInput()"
                                    placeholder="Ingrese los otros cargos">
                            </div>
                        </div>
                        


                        <div class="col-sm-6 col-lg-3 col-md-6">
                            <div>
                                <div class="col-4">
                                    <label for="validationCustom01" class="form-label"><b>Total a pagar: (*)</b> S/.
                                        {{compras.total}} </label>

                                </div>
                            </div>
                            <div>
                                <button *ngIf="!loadActualizarCompras" type="button" class="btn btn-success"
                                    (click)="ActualizarCompras()">Actualizar Compra</button>
                                <button *ngIf="loadActualizarCompras" type="button" class="btn btn-success" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    Actualizando...
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </ng-container>

  </div>
  </div>
</div>
